.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gutter.gutter-horizontal {
    background-image: url('grips/vertical.png');
}

.gutter.gutter-vertical {
    background-image: url('grips/horizontal.png');
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}