<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CPU_and_MEM_Monitor</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
</head>

<body>
    <div id="Graph1" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
    <script type="text/javascript">

    var time = ["","","","","","","","","",""],
        RSSI = [0,0,0,0,0,0,0,0,0,0],
        cpu2 = [0,0,0,0,0,0,0,0,0,0]

    var Graph1 = echarts.init(document.getElementById('Graph1'));
    Graph1.setOption({
        title: {
            text: 'RSSI_Graph1'
        },
        tooltip: {},
        legend: {
            data:['RSSI']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'RSSI',
            type: 'line',
            data: []
        }]
    });
        

    var update_Graph1 = function (res) { 
        
        Graph1.hideLoading();
       
        time.push(res.data[0]);
        RSSI.push(parseFloat(res.data[1]));
        if (time.length >= 10){
            time.shift();
            RSSI.shift();
        }
        
        Graph1.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'RSSI', 
                data: RSSI
            }]
        });
        
    };

    Graph1.showLoading();
    
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        
        socket.on('server_response', function(res) {
            update_Graph1(res);
        });

    });
    
    </script>
</body>
</html>