<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>室内地图地图旋转/倾斜设置示例|室内三维地图引擎|易景空间地图</title>
    <meta name="keywords" content="室内地图地图旋转/倾斜设置示例,室内地图,三维地图引擎,三维地图制作,室内定位,易景空间地图" />
    <meta name="description" content="室内地图地图旋转/倾斜设置示例,易景室内三维地图引擎提供地图浏览、缩放、旋转、图层显隐等基础功能，支持自定义室内地图显示风格及样式，可自动绘制楼层热力图、散点图等专题地图，快速进行空间大数据分析展示。支持跨楼层精准的点到点之间的最短、最优路径计算，支持对路径结果进行导航和动画,并提供丰富的地图主题资源供二次开发调用。" />
    <link rel="shortcut icon" type="image/ico" href="../image/favicon.ico">
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/iconfont/iconfont.css" rel="stylesheet">
    <link href="../lib/bootstrap-slider.min.css" rel="stylesheet">

    <style type="text/css">
        .func-floor {
            position: absolute;
            padding-left: 1px;
            padding-right: 1px;
            left: 2%;
            bottom: 10%;
        }

        .pro-bar {
            position: absolute;
            bottom: 3%;
            left: 2%;
            width: 250px;
            height: 60px;
            background-color: transparent;
            display: none;
        }

        .pro-bar .title {
            height: 20px;
            width: 100%;
            text-align: end;
        }

        .pro-bar .title span {
            cursor: pointer;
        }

        #ex1Slider .slider-selection {
            background: #BABABA;
        }
    </style>

</head>

<body>
    <div id="map-container"></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <h1><a href="/" title="室内地图-室内三维地图" target="_blank">易景室内三维地图引擎</a> （地图旋转/倾斜设置示例）</h1>
            
            <div class="tips-right">
                <span class="tip1"></span>
                <span class="tip2"></span>
            </div>
            <div class="tips-msg">
                <div class="msg msg1">
                    <div class="erweima"></div>
                    <p>手机扫一扫进入体验</p>
                </div>
                <div class="msg msg2">
                    <h4>地图旋转/倾斜设置示例</h4>
                    <p>1. rotateAngle 旋转</p>
                    <p>2. tiltAngle 倾斜</p>
                    <div style="display: none">室内地图地图旋转/倾斜设置示例,易景室内三维地图引擎提供地图浏览、缩放、旋转、图层显隐等基础功能，支持自定义室内地图显示风格及样式，可自动绘制楼层热力图、散点图等专题地图，快速进行空间大数据分析展示。支持跨楼层精准的点到点之间的最短、最优路径计算，支持对路径结果进行导航和动画,并提供丰富的地图主题资源供二次开发调用。</div>
                </div>
            </div>

        </div>
    </nav>

    <div class="pro-bar">
        <div class="title"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <input id="ex1" type="text" data-slider-value="1" />
    </div>
    <div class="pro-bar">
        <div class="title"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <input id="ex2" type="text" data-slider-value="1" />
    </div>

    <div class="func-floor btn-floor-vertical" data-toggle="buttons">
        <button id="btnHand" class="btn btn-default">设置旋转度</button>
        <button id="btnInfo" class="btn btn-default">设置倾斜度</button>
    </div>
    <script src="../lib/config.js"></script>
    <script src="../lib/esmap.min.js"></script>
    <script src="../lib/jquery-2.1.4.min.js"></script>
    <script src="../lib/jquery.qrcode.min.js"></script>
    <script src="../lib/jquery.nicescroll.js"></script>
    <script src="../lib/tips_controls.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../lib/bootstrap-slider.min.js"></script>

    <script type="text/javascript">
        var map;
        var esmapID = getQueryString('id') || defaultOpt.mapID;
        var styleid = getQueryString("styleid") || defaultOpt.themeID;
        $(function () {
            var IsRoateOrTilt = 'roate';
            map = new esmap.ESMap({
                container: $('#map-container')[0], //渲染dom
                mapDataSrc: defaultOpt.mapDataUrl, //地图数据位置
                mapThemeSrc: defaultOpt.mapThemeUrl, //主题数据位置
                themeID: styleid,				//样式ID
            	token:"escope"					//更多初始化参数配置请参考https://www.esmap.cn/escopemap/content/cn/develope/map-config.html
            });
            //打开地图数据
            map.openMapById(esmapID); //sceneId

            map.showCompass = true; //显示指南针    
            map.on("loadComplete", function () {
                initSlider();
            })
            //倾斜
            $('.title span').on('click', function () {
                $('.pro-bar').css({
                    'display': 'none'
                });
            });

            var showProBar = function () {
                if (IsRoateOrTilt == 'roate') {
                    if ($('.pro-bar:first').css('display') == 'none')
                        $('.pro-bar:first').css({
                            'display': 'block'
                        });
                    if ($('.pro-bar:last').css('display') == 'block')
                        $('.pro-bar:last').css({
                            'display': 'none'
                        });
                } else {
                    if ($('.pro-bar:first').css('display') == 'block')
                        $('.pro-bar:first').css({
                            'display': 'none'
                        });
                    if ($('.pro-bar:last').css('display') == 'none')
                        $('.pro-bar:last').css({
                            'display': 'block'
                        });
                }
            };

            function initSlider() {
                $('#ex1').slider({
                    min: 1,
                    max: 361,
                    scale: 'logarithmic',
                    step: 1,
                    value: map.rotateAngle+1,
                    formatter: function (value) {
                        map.rotateAngle = value - 1;
                        return '旋转' + (value - 1) + '度';
                    }
                });
                $('#ex2').slider({
                    min: 1,
                    max: 61,
                    scale: 'logarithmic',
                    step: 1,
                    value: map.tiltAngle,
                    formatter: function (value) {
                        map.tiltAngle = value
                        return '倾斜' + (value) + '度';
                    }
                });
            }

            $('#btnHand').on('click', function () {
                IsRoateOrTilt = 'roate';
                showProBar();
            });

            $('#btnInfo').on('click', function () {
                IsRoateOrTilt = 'tilt';
                showProBar();
            });
        });


    </script>

</body>

</html>